In [1]:
import numpy as np
import pandas as pd

## Series

In [3]:
benimSozlugum = {"Atakan": 30 , "Zeynep" : 40 , "Mehmet" : 50}

In [5]:
pd.Series(benimSozlugum)  #index yerine isimler veya farklı şeyler var. Excell tablosu gibi yazım var

Atakan    30
Zeynep    40
Mehmet    50
dtype: int64

In [8]:
benimYaslarim =[50,40,30]
benimIsımlerim = ["atakan","zeynep","mehmet"]

In [9]:
pd.Series(benimYaslarim)

0    50
1    40
2    30
dtype: int64

In [12]:
pd.Series(benimIsımlerim,benimYaslarim)

50    atakan
40    zeynep
30    mehmet
dtype: object

In [13]:
pd.Series(data=benimYaslarim,index = benimIsımlerim)

atakan    50
zeynep    40
mehmet    30
dtype: int64

In [14]:
numpyDizisi = np.array([50,40,30])

In [15]:
numpyDizisi

array([50, 40, 30])

In [16]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int64

In [17]:
pd.Series(numpyDizisi,benimIsımlerim)

atakan    50
zeynep    40
mehmet    30
dtype: int64

In [20]:
pd.Series(["Atakan","Atlas","Osman"],[1,2,3])   #Sıralama (data,index) olarak kullanılıyor unutma.

1    Atakan
2     Atlas
3     Osman
dtype: object

In [21]:
yarismaSonucu1 = pd.Series([10,5,1],["atakan","atlas","osman"])

In [22]:
yarismaSonucu1

atakan    10
atlas      5
osman      1
dtype: int64

In [23]:
yarismaSonucu2 = pd.Series([20,10,8],["atakan","atlas","osman"])

In [24]:
yarismaSonucu2

atakan    20
atlas     10
osman      8
dtype: int64

In [25]:
yarismaSonucu2["atlas"]

10

In [28]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [29]:
sonSonuc

atakan    30
atlas     15
osman      9
dtype: int64

In [30]:
farkliSeries = pd.Series([20,30,40,50],["a","b","c","d"])

In [31]:
farklıSeries2 = pd.Series([10,5,3,1],["a","c","f","g"])

In [32]:
farkliSeries

a    20
b    30
c    40
d    50
dtype: int64

In [33]:
farklıSeries2

a    10
c     5
f     3
g     1
dtype: int64

In [34]:
farklıSeries2 + farkliSeries

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64